{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load allauth %}

{% block head_title %}
    {% trans "Confirm Email Address" %}
{% endblock head_title %}


{% block content %}
<div class="container-sign-in">
    <div class="row">
        <div class="col-md-8 mt-5 offset-md-2">
    <h3>{% trans "Confirm Email Address" %}</h3>
    
    {% if confirmation %}
        {% user_display confirmation.email_address.user as user_display %}
        {% if can_confirm %}
        <hr>
            <p class="text">{% blocktrans with confirmation.email_address.email as email %}Please confirm that <a href="mailto:{{ email }}">{{ email }}</a> is an email address for user {{ user_display }}.{% endblocktrans %}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <form class="login text rounded" method="POST" action="{% url 'account_email' %}">
                {% csrf_token %}
                {{ form.as_p }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button class="btn btn-signup btn-dark right" type="submit">{% trans "Confirm Email Address" %}</button>
            </form>
        {% else %}
            <p>
                {% blocktrans %}Unable to confirm {{ email }} because it is already confirmed by a different account.{% endblocktrans %}
            </p>
        {% endif %}
    {% else %}
        <p>
            {% blocktrans %}This email confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new email confirmation request</a>.{% endblocktrans %}
        </p>
    {% endif %}
{% endblock content %}

