{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign Up" %}{% endblock %}

{% block content %}

<div class="container-account mb-3">
    <div class="col-12 col-md-6">
        <h3>{% trans "Sign Up" %}</h3>
        <hr>
        <p class="text">{% blocktrans %}Welcome to Knit & Co. Happy to see you here. Please fill out the form to
            create your account. Already have an account? Then please <a href="{{ login_url }}">sign in</a>. 
            {% endblocktrans %}</p>

        <form class="login text rounded" id="signup_form" method="POST" action="{% url 'account_signup' %}">
                {% csrf_token %}
                {{ form |crispy}}

                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button class="btn btn-signup btn-dark right" type="submit">{% trans "Sign Up" %}</button>
        </form>
    </div>
</div>

{% endblock %}
