{% extends "base.html" %}
{% load i18n %}
{% load allauth %}

{% block head_title %}
{% trans "Verify Your Email Address" %}
{% endblock head_title %}

{% block content %}
<div class="container-account mb-3">
    <div class="row">
        <div class="col-md-8 mt-5 offset-md-2 mb-3">
            <h3>{% trans "Verify Your Email Address" %}</h3>
            <hr>
            <p class="text">{% blocktrans %}We have sent an email to you for verification. Follow the link provided to
                finalize the signup process. If you do not see the verification email in your main inbox, check your
                spam folder. Please <a href="mailto:knitco.store@gmail.com">contact us</a> if you do not receive the verification email within a few minutes.{%endblocktrans %}
            </p>
            <p>The Knit & Co team</p>
        </div>
    </div>
</div>
{% endblock content %}