{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container content-container">
    <div class="row m-0 overlay"></div>
        <div class="row bag border-bottom mb-3">
            <h1>Shopping bag</h1>
        </div>
        <div class="row">
            {% if bag_items %}
            <div class="col-6">{{ bag_items }}</div>
                
            {% else %}
            <div class="message lead">
                <p>Whoops! Your bag is feeling light as a feather!</p>
                <a href="{% url 'products' %}" class="btn bg-blue">Look for some goodies to fill your bag with!</a>
            </div>
            {% endif %}
        </div>
</div>
{% endblock %}
