{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">
        </div>
    </div>
</div>
{% block extra_title %} | Shopping Bag {% endblock %}
{% endblock %}

{% block content %}
<div class="container content-container mb-5">
    <div class="row m-0 overlay"></div>
        <div class="row text-blue border-bottom mb-3">
            <h2>Shopping bag</h2>
        </div>
        <div class="row">
            {% if bag_items %}
            <div class="table-responsive rounded text">
                <!-- Table structure -->
                <table class="table table-sm table-borderless">
                    <thead class="text-black">
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col"></th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Subtotal</th>
                        </tr>
                    </thead>
                    <!-- Iterate through all products -->
                    {% for item in bag_items %}
                    <tr class="border-bottom">
                        <td class="py-3 w-25">
                            <img class="img-fluid rounded img-bag w-75" src="{{ item.product.image.url }}" alt="Image for {{ item.product.name }}">
                        </td>
                        <td class="py-3">
                            <p class="my-0">{{ item.product.name }}</p>
                        </td>
                        <td class="py-3">
                            <p class="my-0">{{ item.product.price }}€</p>
                        </td>
                        <td class="py-3 w-25">
                            <form class="update-form" action="{% url 'update_bag' item.item_id %}" method="post">
                                {% csrf_token %}
                                <div class="input-group">
                                    <!-- Decrement button -->
                                    <div class="input-group-preprend">
                                        <button class="decrement-qty btn btn-sm btn-bg-blue rounded-0"
                                            type="button" data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}" aria-label="Decrement button">
                                            <span>
                                                <i class="fas fa-minus fa-sm"></i>
                                            </span>
                                        </button>
                                    </div>
                                    <!-- Form control quantity -->
                                    <input class="form-control form-control-sm qty_input" type="number" name="quantity"
                                        value="1" min="1" max="99" data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}" aria-labelledby="Quantity input for bag items">
                                    <!-- Increment button -->
                                    <div class="input-group-append">
                                        <button class="increment-qty btn btn-sm btn-bg-blue rounded-0"
                                            type="button" data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item.id }}" aria-label="increment button">
                                            <span>
                                                <i class="fas fa-plus fa-sm"></i>                                           
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                            <a href="#" class="update-link text-small txt-blue float-start">Update</a>
                            <a href="#" class="remove-item text-small txt-red float-end"
                                id="remove_{{ item.item_id }}">Delete</a>
                        </td>
                        <td class="py-3">
                            <p class="my-0">{{ item.product.price | calc_subtotal:item.quantity }}€</p>
                        </td>
                    </tr>
                    {% endfor %}

                    <!-- Calculate total price -->
                    <tr>
                        <td colspan="5" class="pt-5 text-end">
                            <p class="fs-5"><span class="text-uppercase">Total: {{ total|floatformat:2 }} €</span></p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" class="text-end">
                            <a href="{% url 'products' %}" class="btn btn-lg">
                                <span class="text-uppercase bg-blue p-2">Continue Shopping</span>
                            </a>
                            <a href="{% url 'checkout' %}" class="btn btn-lg">
                                <span class="text-uppercase bg-blue p-2">Secure Checkout</span>
                            </a>
                        </td>
                    </tr>
                </table>
                </div> 
            {% else %}
            <div class="text lead">
                <p>Whoops! Your bag is feeling light as a feather!</p>
                <a href="{% url 'products' %}" class="btn btn-bg-blue">Look for some goodies to fill your bag with!</a>
            </div>
            {% endif %}
        </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'bag/includes/quantity_input_script.html' %}

<script type="text/javascript">
    $(document).ready(function() {
        // Update quantity on click
        $('.update-link').click(function(e) {
            e.preventDefault(); // Prevent the default action
            var form = $(this).prev('.update-form');
            form.submit();
        });
        // Remove item and reload on click
        $('.remove-item').click(function(e) {
            e.preventDefault(); // Prevent the default action
            var csrfToken = "{{ csrf_token }}";
            var itemId = $(this).attr('id').split('remove_')[1];
            var url = `/bag/remove/${itemId}`;
            var data = {'csrfmiddlewaretoken': csrfToken};
            $.post(url, data)
             .done(function() {
                 location.reload();
             });
        });
    });
</script>

{% endblock %}
