{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container content-container mb-5">
    <div class="row m-0 overlay cookies"></div>
    <div class="d-flex flex-row">
        <div class="col-12 col-md-8 col-lg-6 my-3 p-4 bg-light bg-opacity-75">
            <h1 class="display-4 text-black">
                Cookie policy
            </h1>
            <p class="text text-black me-4">
                At Knit&Co, we use cookies and similar technologies to enhance your browsing experience and provide
                personalized content and advertising. This policy explains how we use cookies and the choices you have
                regarding their use.</p>

            <h2 class="text-black">What are Cookies?</h2>

            <p class="text text-black me-4">Cookies are small text files that are stored on your computer or mobile
                device when you visit a website.
                They help websites remember your preferences and settings, improve your user experience, and tailor
                content and advertisements to your interests.</p>

            <h2 class="text-black">Types of Cookies We Use</h2>

            <p class="text text-black me-4">Essential Cookies: These cookies are necessary for the website to function
                properly. They enable core functionalities such as navigating the site and accessing secure areas.
                <p class="text text-black me-4">
                Analytics Cookies: We use these cookies to collect information about how visitors use our website, such
                as which pages are visited most often. This information helps us improve the website and understand
                visitor preferences.</p>
                <p class="text text-black me-4">
                Marketing Cookies: These cookies are used to track visitors across websites. The intention is to display
                ads that are relevant and engaging for the individual user.
            </p>

            <h2 class="text-black">Your Cookie Choices</h2>

            <p class="text text-black me-4">You have the option to accept or decline cookies. Most web browsers
                automatically accept cookies, but you can usually modify your browser settings to decline cookies if you
                prefer. Please note that declining cookies may affect your experience on our website.
                <p class="text text-black me-4">
                Additionally, you can control and manage cookies through your browser settings. For more information on
                how to manage cookies, visit the help pages of your browser.
            </p>

            <h2 class="text-black">Third-Party Cookies</h2>

            <p class="text text-black me-4">We may also use third-party cookies, such as those from Google Analytics, to
                analyze website traffic and usage. These cookies are governed by the respective privacy policies of the
                third-party providers.</p>

            <h2 class="text-black">Updates to this Policy</h2>
            <p class="text text-black me-4">We may update this Cookie Policy from time to time to reflect changes in our
                practices or for other operational, legal, or regulatory reasons. We encourage you to review this policy
                periodically for any updates.</p>

            <h2 class="text-black">Contact Us</h2>

            <p class="text text-black me-4">If you have any questions about this Cookie Policy or our use of cookies,
                please contact us at <a href="mailto:knitco.store@gmail.com">knitco.store@gmail.com</a>.</p>
        </div>
    </div>
</div>
{% endblock %}