{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container content-container">
    <div class="row">
        <div class="col-7 col-md-6 my-auto">
            <h1 class="display-4">
                Nordic Threads, Woven with Tradition
            </h1>
            <p>
                Welcome to Knit & co, where Nordic heritage comes to life through exquisite yarns and inspired
                designs. Our collection features the finest yarns produced sustainably in Norway, Sweden, Iceland,
                Denmark, and Finland, crafted by skilled artisans and inspired by the region's natural beauty. Each
                skein tells a story of tradition and craftsmanship, connecting you to the timeless spirit of the North.
                Whether you're a seasoned knitter or just starting, our yarns and patterns will bring your creations to
                life with the beauty and legacy of Nordic knitting.</p>
        </div>
    </div>
    </div>
{% endblock %}