{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container content-container">
    <div class="row">
        <div class="col-12 col-md-8 col-lg-6 m-3">
            <h1 class="display-4">
                Nordic Threads, <br> Woven with Tradition
            </h1>
            <p class="text text-black me-4">
                Welcome to Knit & co, where Nordic heritage comes to life through exquisite yarns and inspired
                designs.</p>
            <p class="text text-black me-4">
                Our collection features the finest yarns produced sustainably in Norway, Sweden, Iceland,
                Denmark, and Finland, crafted by skilled artisans and inspired by the region's natural beauty. Each
                skein tells a story of tradition and craftsmanship, connecting you to the timeless spirit of the North.</p>
            <p class="text text-black me-4"> 
                Whether you're a seasoned knitter or just starting, our yarns and patterns will bring your creations to
                life with the beauty and legacy of Nordic knitting.</p>
        </div>
    </div>
    </div>
{% endblock %}