{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container content-container mb-5">
    <div class="row m-0 "></div>
    <div class="col-12 col-md-8 col-lg-6 my-3 p-4">
        <h2 class="display-4">
            Nordic Threads, <br> Woven with Tradition
        </h2>
        <p class="text text-black me-4">
            Welcome to Knit & Co, where Nordic heritage comes to life through exquisite yarns and inspired
            designs.</p>
        <p class="text text-black me-4">
            Our collection features the finest yarns produced sustainably in Norway, Sweden, Iceland,
            Denmark, and Finland, crafted by skilled artisans and inspired by the region's natural beauty. Each
            skein tells a story of tradition and craftsmanship, connecting you to the timeless spirit of the
            North.
        </p>
        <p class="text text-black me-4">
            Whether you're a seasoned knitter or just starting, our yarns and patterns will bring your creations
            to life with the beauty and legacy of Nordic knitting.</p>

        <p class="text text-black me-4">
            At Knit&Co, shopping is seamless whether you're <a href="{% url 'account_login' %}">logged in</a> or not. <a
                href="{% url 'account_signup' %}">Create an account</a> to store
            personal info and track orders easily. Plus, registered users can <u>rate and comment on products</u>,
            adding
            valuable insights to our community. Start crafting your way with Knit&Co today!
        </p>
    </div>
</div>
</div>
{% endblock %}