{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">
        </div>
    </div>
</div>
{% block extra_title %} | Our Story {% endblock %}
{% endblock %}

{% block content %}
<div class="container content-container mb-5">
    <div class="row m-0 overlay our-story"></div>
    <div class="row">
        <div class="col-12 col-md-8 col-lg-6 my-3 p-4 bg-dark bg-opacity-75">
            <h2 class="display-4 text-white">Our Story - Woven with Tradition</h2>
            <p class="text text-white me-4 fs-5 lh-sm">
                Welcome to Knit & Co, your premier online yarn shop dedicated to preserving the rich tradition of Nordic
                knitting. Our mission is to bring you the finest selection of natural fiber yarns, sourced exclusively
                from Nordic producers who share our passion for quality, sustainability, and ethical practices.</p>

                <p class="text text-white me-4">
                Founded with a love for the intricate patterns and timeless techniques of Nordic knitting, Knit & Co was
                born out of a desire to keep these traditions alive and thriving. My personal journey with knitting
                began at the age of five, when I was taught by my grandmother. Those early years were filled with the
                warmth and love of learning to knit with her, creating a foundation that I cherish to this day.

                The legacy of knitting in my life continued when I inherited yarns, needles, and hooks from my husband's
                grandmother upon her passing. These treasured items, along with the yarn supply from my sister-in-law's
                grandmother, have become integral parts of my knitting practice. Each stitch I make carries forward the
                traditions and memories of these remarkable women, and it is this spirit of heritage and continuity that
                I bring to Knit & Co.</p>

                <h3 class="text-white mt-5">Our Commitment</h3>
                <p class="text text-white me-4">
                At Knit & Co, we believe in doing business the right way. This means caring for the environment, ensuring
                fair trade, and maintaining good working conditions for all involved in the production process. Our
                yarns are made from natural fibers, chosen not only for their superior quality but also for their
                minimal environmental impact. We take pride in our commitment to ethical sourcing, and all our yarns are
                guaranteed to be mulesing-free, ensuring the welfare of the animals from which they are derived.</p>

                <h3 class="text-white mt-5">Why Choose Knit & Co?</h3>
                <p class="text text-white me-4 lh-base">
                - <em>Nordic Focus</em> - Our collection is dedicated to Nordic designs and producers, preserving
                the unique knitting traditions of the region.<br>
                - <em>Natural Fibers</em> - We offer yarns made from the finest natural fibers, providing you with
                high-quality, eco-friendly options.<br>
                - <em>Ethical Practices</em> - We are committed to fair trade, good working conditions, and the
                welfare of animals, ensuring a positive impact from farm to needle.<br>
                - <em>Heritage and Legacy</em> - Our yarns and knitting supplies carry the legacy of generations,
                honoring the past while creating for the future.</p>

                <h3 class="text-white mt-5"> Join Us in Keeping Nordic Traditions Alive</h3>
                <p class="text text-white me-4">
                Whether you are an experienced knitter or just starting your knitting journey, Knit & Co is here to
                inspire and support you with beautiful, sustainable yarns and timeless Nordic designs. Join our
                community of knitters who appreciate the artistry and heritage of Nordic knitting, and help us keep
                these cherished traditions alive for generations to come.
                
                <p class="text text-white me-4">Thank you for choosing Knit & Co. Happy knitting!</p>
            </p>
        </div>
    </div>
</div>
{% endblock %}