{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container content-container mb-5">
    <div class="row m-0 overlay returns"></div>
    <div class="d-flex flex-row-reverse">
        <div class="col-12 col-md-8 col-lg-6 my-3 p-4 bg-light bg-opacity-75">
            <h2 class="display-4 text-black">
                Returns & Reclamations
            </h2>
            <p class="text text-black me-4">
                At Knit&Co, we strive to ensure your satisfaction with every purchase. If for any reason you are not
                completely satisfied with your order, we offer a straightforward return and reclamation process.</p>
            <h3 class="text-black">Returns</h3>
            <p class="text text-black me-4">
                You may return unused and unopened items within 30 days of delivery for a full refund or exchange.
                Please contact our customer service team to initiate the return process.</p>
            <h3 class=" text text-black">Reclamation</h3>
            <p class="text text-black me-4">In the rare event of receiving defective or damaged items, please notify us
                within 7 days of delivery.
                We will promptly replace the defective items or issue a refund as per your preference.</p>
            <h3 class="text text-black">Conditions</h3>
            <p class="text text-black me-4">Items must be returned in their original packaging and in new, unused
                condition.
                Returns are subject to inspection and approval before a refund or exchange is processed.</p>
            <h3 class="text-black">Contact Us</h3>
            <p class="text text-black me-4">For any questions or concerns regarding returns or reclamation, please reach
                out to our customer service
                team at <a href="mailto:knitco.store@gmail.com">knitco.store@gmail.com</a>
            </p>
            <p class="text text-black me-4">Thank you for choosing Knit&Co for your yarn needs. We are here to ensure
                your knitting and crocheting experience is enjoyable and hassle-free! Happy knitting!</p>
            </p>
        </div>
    </div>
</div>
{% endblock %}