{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container content-container mb-5">
    <div class="row m-0 overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col p-0">
                <h2 class="txt-blue text-uppercase p-1">Subscribe to our newsletter</h2>
                <h3>There is joy in every stitch</h3>
                <hr class="bg-blue mb-4">
            </div>
        </div>
        <div class="col-6 text">
            <p>As a newsletter subscriber, you will receive exclusive designs, product insights, and special offers
                curated just for you.</p>
                <form method="post" action="{% url 'subscribe' %}">
                    {% csrf_token %}
                    {{ subscribe_form | crispy}}
                    <button type="submit" aria-label="Subscribe button">Subscribe</button>
                </form>
            <p><em>The Knit&Co Team</em></p>
        </div>
    </div>
</div>
{% endblock %}