{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container content-container mb-5">
    <div class="row m-0 overlay thank-you"></div>
    <div class="d-flex flex-row">
        <div class="col-12 col-md-8 col-lg-6 my-3 p-4 bg-light bg-opacity-75">
            <h1 class="display-4 text-black">
                Our Commitment to Sustainability
            </h1>
            <p class="text text-black me-4">
                At Knit&Co, sustainability and ethical practices are at the heart of everything we do. We are dedicated
                to promoting sustainable practices throughout our operations. Here’s how we uphold our commitment:</p>

                <h2>1. Mulesing-Free Yarn:</h2>
                <p class="text text-black me-4">
                We prioritize mulesing-free yarn, ensuring the welfare of animals in the production process.</p>

            <h2>Natural Fibers:</h2>
                <p class="text text-black me-4">We exclusively offer yarn made from natural fibers, such as wool, cotton, and bamboo. These materials
                are biodegradable and renewable, reducing environmental impact.</p>

            <h2>Fair Working Conditions:</h2>
                <p class="text text-black me-4">We support fair working conditions for all involved in our supply chain, from farmers to artisans.
                Respect and dignity are fundamental to our partnerships.</p>

            <h2>Local Resources:</h2>
                <p class="text text-black me-4">We actively seek local resources to minimize transportation emissions and support our community. By
                using what’s close to us, we reduce waste and promote sustainable practices.</p>

            <h2>Join Us in Making a Difference:</h2>
                <p class="text text-black me-4">Together, we can knit a brighter future. Explore our collection and discover how small choices can lead
                to significant changes for our planet and its people.</p>

                <p class="text text-black me-4">Thank you for choosing Knit&Co, where sustainability meets creativity.</p>
        </div>
        <p><em>The Knit&Co Team</em></p>
    </div>
</div>
</div>
{% endblock %}