{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container content-container mb-5">
    <div class="row m-0 overlay sustainability"></div>
    <div class="d-flex flex-row">
        <div class="col-12 col-md-8 col-lg-6 my-3 p-4 bg-light bg-opacity-75">
            <h2 class="display-4 text-black">
                Our Commitment to Sustainability
            </h2>
            <p class="text text-black me-4">
                At Knit&Co, sustainability and ethical practices are at the heart of everything we do. We are dedicated
                to promoting sustainable practices throughout our operations. Here’s how we uphold our commitment:</p>

            <h3 class="text-black">Mulesing-Free Yarn:</h3>
            <p class="text text-black me-4">
                We prioritize mulesing-free yarn, ensuring the welfare of animals in the production process.</p>

            <h3 class="text-black">Natural Fibers:</h3>
            <p class="text text-black me-4">We exclusively offer yarn made from natural fibers, such as wool, cotton,
                and bamboo. These materials
                are biodegradable and renewable, reducing environmental impact.</p>

            <h3 class="text-black">Fair Working Conditions:</h3>
            <p class="text text-black me-4">We support fair working conditions for all involved in our supply chain,
                from farmers to artisans.
                Respect and dignity are fundamental to our partnerships.</p>

            <h3 class="text-black">Local Resources:</h3>
            <p class="text text-black me-4">We actively seek local resources to minimize transportation emissions and
                support our community. By
                using what’s close to us, we reduce waste and promote sustainable practices.</p>

            <h3 class="text-black">Join Us in Making a Difference:</h3>
            <p class="text text-black me-4">Together, we can knit a brighter future. Explore our collection and discover
                how small choices can lead
                to significant changes for our planet and its people.</p>

            <p class="text text-black me-4">Thank you for choosing Knit&Co, where sustainability meets creativity.</p>
        </div>
    </div>
</div>
</div>
{% endblock %}