{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container content-container">
    <div class="row m-0 overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col p-0">
                <h2 class="txt-blue text-uppercase p-1">{{ user.username }}'s Profile page</h2>
                <hr class="bg-blue mb-4">
            </div>
        </div>
        <div class="row">
            <!-- Profile details form -->
            <div class="col-12 col-lg-6">
                <h2>User profile</h2>
                <hr>
                <!-- Show user info stored in database -->
                <div id="profile-info" class="text">
                    Username: {{ user.username }} <br>
                    Full Name: {{ user.userprofile.default_full_name }} <br>
                    Email: {{ user.userprofile.default_email }} <br>
                    Phone Number: {{ user.userprofile.default_phone_number }} <br>
                    Street Address: {{ user.userprofile.default_street_address }} <br>
                    Postcode: {{ user.userprofile.default_postcode }} <br>
                    Town/City: {{ user.userprofile.default_town_or_city }} <br>
                    Country: {{ user.userprofile.default_country }} <br>
                    <button id="edit-profile-btn" class="mt-3 btn btn-primary">Edit Profile</button>
                    <!-- Button to toggle edit form -->
                </div>

                <!-- Edit profile form (initially hidden) -->
                <form class="mt-3 text" action="{% url 'profile' %}" method="POST" id="profile-update-form"
                    style="display: none;">
                    {% csrf_token %}
                    {{ profile_form|crispy }}
                    <button type="submit" class="btn btn-primary">
                        Update profile
                    </button>
                </form>
            </div>

            <!-- Order history -->
            <div class="col-12 col-lg-6">
                <!-- Display order history -->
                <h2>Order history</h2>
                <hr>
                <div class="order-history">
                    {% if orders %}
                    <table>
                        <thead>
                            <tr>
                                <th>Order number</th>
                                <th>Date</th>
                                <th>Items</th>
                                <th>Order total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                            <tr>
                                <td>
                                    <a href="{% url 'order_history' order.order_number %}">
                                        {{ order.order_number|truncatechars:6 }}
                                    </a>
                                </td>
                                <td>{{ order.date }}</td>
                                <td>
                                    <ul class="list-unstyled">
                                        {% for item in order.lineitems.all %}
                                        <li>{{ item.product.name }} x{{ item.quantity }}</li>
                                        {% endfor %}
                                    </ul>
                                </td>
                                <td>${{ order.grand_total }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                    <!-- No orders message -->
                    <p>You have no previous orders.</p>
                    {% endif %}
                </div>

                <!-- Rated and/or reviewed products -->
                <h2>Rated and/or reviewed products</h2>
                <hr>
                <table>
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Score</th>
                            <th>Comment</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for rating in user_ratings %}
                        <tr>
                            <td>{{ rating.product }}</td>
                            <td>{{ rating.score }}</td>
                            {% if rating.comment %}
                            <td>{{ rating.comment }}</td>
                            {% endif %}
                            <td>{{ rating.created_at }}</td>
                        </tr>
                        {% empty %}
                        <p>No ratings found.</p>
                        {% endfor %}
                    </tbody>
            </div>
        </div>
    </div>
    {% endblock %}

    {% block postloadjs %}
    {{ block.super }}
    <script>
        <!-- Open update user profile form when Edit Profile is clicked -->
        document.addEventListener('DOMContentLoaded', function () {
            const editProfileBtn = document.getElementById('edit-profile-btn');
            const profileInfo = document.getElementById('profile-info');
            const profileUpdateForm = document.getElementById('profile-update-form');

            editProfileBtn.addEventListener('click', function () {
                profileInfo.style.display = 'none'; // Hide profile info
                profileUpdateForm.style.display = 'block'; // Show edit form
            });
        });
    </script>
    {% endblock %}