html {
    height: 100%;
    overflow: auto;
}

.nav-link-logo {
    color: #555;
    font-family: "Caveat", cursive !important;
    font-size: 2rem;
    font-weight: 700;
    font-style: normal;
}

.message {
    font-family: "Teachers", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

.message-small{
    font-size: 0.8rem;

}

.txt-blue{
    color: #000066 !important;
}

.txt-red{
    color: #f12626 !important;
}

.nav-link, 
.dropdown-item {
    color: #555;
    white-space: nowrap;
}

.nav-link:hover,
.nav-link:active,
.nav-link:focus {
    background: rgb(246, 221, 32);
    color: white;
}

.nav-link-logo:hover,
.nav-link-logo:active {
    color:rgb(246, 221, 32);
    text-decoration: none;
}

.update-link,
.remove-item {
    cursor: pointer;
}

body {
    background: url('/static/images/background-home.webp') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 2000px);
    color: #555;
    font-family: "Ysabeau SC", sans-serif !important;
}

h1 {
    font-family: "Caveat", cursive !important;
}

.content-container {
    margin-top: 200px;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

.description {
    font-family: "Teachers", sans-serif;
    font-size: 1.2rem;
    font-weight: 100;
    font-style: normal;
}

.reviews {
    font-family: "Teachers", sans-serif;
    font-size: 1rem;
    font-weight: 100;
    font-style: normal;
}

.semibold {
    font-weight: 500;
}

.smaller {
    font-size: 0.9rem;
}

.lighter {
    color:#a6a6a6;
}

.bg-blue {
    background-color: #000066;
    color: #fafafa;
}

.add-to-bag {
    font-family: "Teachers", sans-serif;
    font-size: 1rem;
    font-weight: 100;
    font-style: normal;
}

.product-img {
    max-width: 300px;
    height: auto;
    margin-bottom: 15px;
}

.available-colors {
    width: 100px;
    height: auto;
    display: inline-block;
}
