<div class="collapse navbar-collapse" id="navbarSupportedContent main-nav>
    <ul class=" navbar-nav me-auto mb-2 mb-lg-0">
    <!-- Dropdown Yarn -->
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Yarn</a>
        <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Wool</a></li>
                <li><a class="dropdown-item" href="#">Merino wool</a></li>
                <li><a class="dropdown-item" href="#">Alpaca</a></li>
                <li><a class="dropdown-item" href="#">Cotton</a></li>
                <li><a class="dropdown-item" href="#">Silk</a></li>
                <li><a class="dropdown-item" href="#">Linen</a></li>
                <li><a class="dropdown-item" href="#">Blends</a></li>
                <li><a class="dropdown-item" href="#">Specialty Yarns</a></li>
                <li><a class="dropdown-item" href="#">Weight Categories</a></li>
                <li><a class="dropdown-item" href="#">Colorways</a></li>
            </ul>
        </div>
    </li>
    <!-- Dropdown Needles -->
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Needles</a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Cable Needles</a></li>
            <li><a class="dropdown-item" href="#">Interchangeable Cable Needles</a></li>
            <li><a class="dropdown-item" href="#">Double-Pointed Needles (DPNs)</a></li>
            <li><a class="dropdown-item" href="#">Materials</a></li>
        </ul>
    </li>
    <!-- Dropdown Accessories -->
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Accessories</a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Stitch Markers & Stitch Holders</a></li>
            <li><a class="dropdown-item" href="#">Yarn Bowls & Holders</a></li>
            <li><a class="dropdown-item" href="#">Blocking Tools</a></li>
            <li><a class="dropdown-item" href="#">Needle Stoppers & Needle Cases</a></li>
            <li><a class="dropdown-item" href="#">Knitting Journals</a></li>
        </ul>
    </li>
    <!-- Dropdown Patterns -->
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Patterns</a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Clothing</a></li>
            <li><a class="dropdown-item" href="#">Accessories</a></li>
            <li><a class="dropdown-item" href="#">Baby & Kids</a></li>
            <li><a class="dropdown-item" href="#">Home Decor</a></li>
            <li><a class="dropdown-item" href="#">Lacework</a></li>
            <li><a class="dropdown-item" href="#">Colorwork</a></li>
            <li><a class="dropdown-item" href="#">Textured Patterns</a></li>
            <li><a class="dropdown-item" href="#">Beginner Patterns</a></li>
        </ul>
    </li>
    </ul>
</div>
<!-- Search Box -->
<div class="col-lg-4 d-none d-lg-flex align-items-center justify-content-end">
    <form method="GET" action="" class="w-100">
        <div class="input-group">
            <input class="form-control border border-black rounded-0" type="text" name="q" placeholder="Search">
            <div class="input-group-append">
                <button class="btn btn-black border border-black rounded-0" type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
    </form>
</div>
</div>
</nav>