<div class="collapse navbar-collapse" id="main-nav">
    <div class="navbar-nav w-auto mx-auto">
        <!-- Dropdown Yarn -->
        <li class="nav-item dropdown">
            <a class="nav-link mr-5" href="#" id="yarnDropdown" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Yarn
            </a>
            <div class="dropdown-menu" aria-labelledby="yarnDropdown">
                <a class="dropdown-item" href="#">Wool</a>
                <a class="dropdown-item" href="#">Merino wool</a>
                <a class="dropdown-item" href="#">Alpaca</a>
                <a class="dropdown-item" href="#">Cotton</a>
                <a class="dropdown-item" href="#">Silk</a>
                <a class="dropdown-item" href="#">Linen</a>
                <a class="dropdown-item" href="#">Blends</a>
                <a class="dropdown-item" href="#">Specialty Yarns</a>
                <a class="dropdown-item" href="#">Weight Categories</a>
                <a class="dropdown-item" href="#">Colorways</a>
            </div>
        </li>
        <!-- Dropdown Needles -->
        <li class="nav-item dropdown">
            <a class="nav-link mr-5" href="#" id="needlesDropdown" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Needles
            </a>
            <div class="dropdown-menu" aria-labelledby="needlesDropdown">
                <a class="dropdown-item" href="#">Cable Needles</a>
                <a class="dropdown-item" href="#">Interchangeable Cable Needles</a>
                <a class="dropdown-item" href="#">Double-Pointed Needles (DPNs)</a>
                <a class="dropdown-item" href="#">Materials</a>
            </div>
        </li>
        <!-- Dropdown Accessories -->
        <li class="nav-item dropdown">
            <a class="nav-link mr-5" href="#" id="accessoriesDropdown" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Accessories
            </a>
            <div class="dropdown-menu" aria-labelledby="accessoriesDropdown">
                <a class="dropdown-item" href="#">Stitch Markers & Stitch Holders</a>
                <a class="dropdown-item" href="#">Yarn Bowls & Holders</a>
                <a class="dropdown-item" href="#">Blocking Tools</a>
                <a class="dropdown-item" href="#">Needle Stoppers & Needle Cases</a>
                <a class="dropdown-item" href="#">Knitting Journals</a>
            </div>
        </li>
        <!-- Dropdown Patterns -->
        <li class="nav-item dropdown">
            <a class="nav-link mr-5" href="#" id="patternsDropdown" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Patterns
            </a>
            <div class="dropdown-menu" aria-labelledby="patternsDropdown">
                <a class="dropdown-item" href="#">Clothing</a>
                <a class="dropdown-item" href="#">Accessories</a>
                <a class="dropdown-item" href="#">Baby & Kids</a>
                <a class="dropdown-item" href="#">Home Decor</a>
                <a class="dropdown-item" href="#">Lacework</a>
                <a class="dropdown-item" href="#">Colorwork</a>
                <a class="dropdown-item" href="#">Textured Patterns</a>
                <a class="dropdown-item" href="#">Beginner Patterns</a>
            </div>
        </li>
    </div>
    <!-- Search Box -->
    <div class="col-lg-4 d-none d-lg-flex align-items-center justify-content-end">
        <form method="GET" action="">
            <div class="input-group w-100">
                <input class="form-control border border-black rounded-0" type="text" name="q" placeholder="Search">
                <div class="input-group-append">
                    <button class="form-control btn btn-black border border-black rounded-0" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
