<div class="collapse navbar-collapse" id="main-nav">
    <div class="navbar-nav w-auto mx-auto">
        <a class="nav-link mr-5" href="{% url 'products'%}">All products</a>
        <!-- Dropdown Yarn -->
        <li class="nav-item dropdown">
            <a class="nav-link mr-5" href="#" id="yarnDropdown" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Yarn
            </a>
            <div class="dropdown-menu" aria-labelledby="yarnDropdown">
                <a class="dropdown-item" href="{% url 'products' %}?subcategory=Wool">Wool</a>
                <a class="dropdown-item" href="{% url 'products' %}?subcategory=Merino">Merino wool</a>
                <a class="dropdown-item" href="{% url 'products' %}?subcategory=Alpaca">Alpaca</a>
                <a class="dropdown-item" href="{% url 'products' %}?subcategory=Cotton">Cotton</a>
                <a class="dropdown-item" href="{% url 'products' %}?subcategory=Linnen">Linen</a>
            </div>
        </li>
        <!-- Dropdown Needles -->
        <li class="nav-item dropdown">
            <a class="nav-link mr-5" href="#" id="needlesDropdown" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Needles
            </a>
            <div class="dropdown-menu" aria-labelledby="needlesDropdown">
                <a class="dropdown-item" href="#">Cable Needles</a>
                <a class="dropdown-item" href="#">Interchangeable Cable Needles</a>
                <a class="dropdown-item" href="#">Double-Pointed Needles (DPNs)</a>
                <a class="dropdown-item" href="#">Materials</a>
            </div>
        </li>
        <!-- Dropdown Accessories -->
        <li class="nav-item dropdown">
            <a class="nav-link mr-5" href="#" id="accessoriesDropdown" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Accessories
            </a>
            <div class="dropdown-menu" aria-labelledby="accessoriesDropdown">
                <a class="dropdown-item" href="#">Stitch Markers</a>
                <a class="dropdown-item" href="#">Stitch Holders</a>
                <a class="dropdown-item" href="#">Blocking Tools</a>
                <a class="dropdown-item" href="#">Tapestry Needles</a>
            </div>
        </li>
    <!-- Search Box -->
    <div class="col-lg-4 d-none d-lg-flex align-items-center justify-content-end">
        <form class="form" method="GET" action="{% url 'products' %}">
            <div class="input-group w-100">
                <input class="form-control border border-black rounded-0" type="text" name="q" placeholder="Search">
                <div class="input-group-append">
                    <button class="form-control btn btn-black border border-black rounded-0" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
