
    <!-- Navbar -->
    
      <nav class="navbar navbar-expand-lg" role="navigation">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <!-- Dropdown Yarn -->
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Yarn</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Wool</a></li>
                <li><a class="dropdown-item" href="#">Merino wool</a></li>
                <li><a class="dropdown-item" href="#">Alpaca</a></li>
                <li><a class="dropdown-item" href="#">Cotton</a></li>
                <li><a class="dropdown-item" href="#">Silk</a></li>
                <li><a class="dropdown-item" href="#">Linen</a></li>
                <li><a class="dropdown-item" href="#">Blends</a></li>
                <li><a class="dropdown-item" href="#">Specialty Yarns</a></li>
                <li><a class="dropdown-item" href="#">Weight Categories</a></li>
                <li><a class="dropdown-item" href="#">Colorways</a></li>
              </ul>
            </li>
          </ul>
          <!-- Dropdown Needles -->
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Needles</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Cable Needles</a></li>
                <li><a class="dropdown-item" href="#">Interchangeable Cable Needles</a></li>
                <li><a class="dropdown-item" href="#">Double-Pointed Needles (DPNs)</a></li>
                <li><a class="dropdown-item" href="#">Materials</a></li>
              </ul>
            </li>
          </ul>
          <!-- Dropdown Accessories -->
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Accessories</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Stitch Markers & Stitch Holders</a></li>
                <li><a class="dropdown-item" href="#">Yarn Bowls & Holders</a></li>
                <li><a class="dropdown-item" href="#">Blocking Tools</a></li>
                <li><a class="dropdown-item" href="#">Needle Stoppers & Needle Cases</a></li>
                <li><a class="dropdown-item" href="#">Knitting Journals</a></li>
              </ul>
            </li>
          </ul>
          <!-- Dropdown Patterns -->
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Patterns</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Clothing</a></li>
                <li><a class="dropdown-item" href="#">Accessories</a></li>
                <li><a class="dropdown-item" href="#">Baby & Kids</a></li>
                <li><a class="dropdown-item" href="#">Home Decor</a></li>
                <li><a class="dropdown-item" href="#">Lacework</a></li>
                <li><a class="dropdown-item" href="#">Colorwork</a></li>
                <li><a class="dropdown-item" href="#">Textured Patterns</a></li>
                <li><a class="dropdown-item" href="#">Beginner Patterns</a></li>
              </ul>
            </li>
          </ul>
          <!-- Search box 
          <div class="container">
            <form method="GET" action="">
              <div class="input-group w-100">
                <input class="form-control border border-black rounded-0 message" type="text" name="q"
                  placeholder="Search">
                <div class="input-group-append">
                  <button class="form-control btn btn-black border border-black rounded-0 text-white" type="submit"> <i
                      class="fa-solid fa-magnifying-glass"></i>
                  </button>
                </div>
              </div>
            </form>
          </div>
          -->
          
        </div>
    </div>
    </nav>
