{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">
        </div>
    </div>
</div>
{% endblock %}

{% block content %}

    <div class="container content-container">
        <div class="row m-0 overlay">
            <h1> All products </h1>
        </div>
        <div class="row">
            {% for product in products %}
            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                {% if product.average_rating %}
                <div class="d-flex z-3 position-absolute p-3">
                    <p class="px-1 text-black">
                        <i class="fa-solid fa-heart"></i> {{ product.average_rating|floatformat:2 }}
                    </p>
                </div>
                    {% else %}
                    <p>No rating</p>
                    {% endif %}
                
                <div class="image">
                    {% if product.image %}
                    <a href="">
                        <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                    </a>
                    {% else %}
                    <a href="">
                        <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                    </a>
                    {% endif %}
                </div>
                <div class="d-flex justify-content-between">
                    <p class="fs-1">{{ product.brand }}</p>
                    <p class="fs-1">{{ product.name }}</p>
                    <p class="fs-1">{{ product.price }} €</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
</div>
{% endblock %}