{% extends "base.html" %}
{% load static %}


{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">
        </div>
    </div>
</div>
{% endblock %}


{% block content %}
<div class="container content-container">
    <div class="row m-0 overlay"></div>
    <div class="row">
        <h1>All products</h1>
    </div>

    <!-- Sorting -->
    <div class="container sorting p-3 d-flex align-items-center">
        <div class="row row-cols-auto">
            <p>Sort by:</p>
            <div class="col"><a class="sorting-item"
                    href="{% url 'products' %}?sort=brand&order={% if current_sort == 'brand' and current_order == 'asc' %}desc{% else %}asc{% endif %}">
                    Brand {% if current_sort == 'brand' %}({{ current_order|title }}){% endif %}
                </a>
            </div>
            <div class="col"><a class="sorting-item"
                    href="{% url 'products' %}?sort=name&order={% if current_sort == 'name' and current_order == 'asc' %}desc{% else %}asc{% endif %}">
                    Name {% if current_sort == 'name' %}({{ current_order|title }}){% endif %}
                </a>
            </div>
            <div class="col"><a class="sorting-item"
                    href="{% url 'products' %}?sort=category&order={% if current_sort == 'category' and current_order == 'asc' %}desc{% else %}asc{% endif %}">
                    Category {% if current_sort == 'category' %}({{ current_order|title }}){% endif %}
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        {% for product in products %}
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
            {% if product.average_rating %}
            <div class="d-flex z-3 position-absolute p-3">
                <p class="px-1 text-black">
                    <i class="fa-solid fa-heart"></i> {{ product.average_rating|floatformat:2 }}
                </p>
            </div>
            {% endif %}
            <div class="image">
                {% if product.image %}
                <a href="{% url 'product_detail' product.id %}">
                    <img class="card-img-top img-fluid product-img" src="{{ product.image.url }}"
                        alt="{{ product.name }}">
                </a>
                {% else %}
                <a href="{% url 'product_detail' product.id %}">
                    <img class="card-img-top img-fluid" src="static/images/noimage.png" alt="{{ product.name }}">
                </a>
                {% endif %}
            </div>
            <div class="d-flex justify-content-between reviews">
                <p class="fs-6"><small>{{ product.brand }} | {{ product.name }}</small></p>
                <p class="fs-6"><small>{{ product.price }} €</small></p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}